#banner{
  background-position: center center;
  background-image: url(../images/about_ban_8.jpg);
  height: 800px;
}
.wrap_brand{
  position: relative;
  z-index: 555;
  .about_title {
    text-align: center;
    padding: 60px 0;
    .t1 {
      font-size: 38px;
      color: #000;
      line-height: 100%;
      padding-bottom: 39px;
    }
    .line {
      height: 1px;
      width: 40px;
      background: #000;
      margin: 0 auto;
      display: block;
    }
  }
  .about_text{
    width: 100%;
    margin: 0 auto;
    min-width: 1200px;
    position: relative;
    text-align: center;
    line-height: 1.8;
    .f30{
      font-size: 30px;
    }
    .f35{
      font-size: 35px;
    }
    .f16 {
      font-size: 16px;
    }
    .mt40 {
      margin-top: 40px;
    }
  }
  .about_img{
    text-align: center;
    margin-top: 40px;
    img{
      border: none;
      width:993px;
      height: 503px;
    }
  }
}