.mt30 {
  margin-top: 30px;
}
.clearfix {
  zoom: 1;
}
// .foot-search {
//   background: #5C2D22;
//   .wrap {
//     height: 240px;
//     background: #5C2D22 url(../images/foot_search.png) center center no-repeat;
//     position: relative;
//     width: 1200px;
//     margin: 0 auto;
//     .btn-search {
//       position: absolute;
//       width: 89px;
//       height: 42px;
//       background: #764F48;
//       color: #fff;
//       right: 170px;
//       top: 122px;
//       text-align: center;
//       line-height: 42px;
//       font-size: 16px;
//     }
//   }
// }
// .wrap-1372-min {
//   width: 100%;
//   margin: 0 auto;
//   min-width: 1200px;
//   position: relative;
// }
// .footer_one {
//   background: #17181B;
//   position: relative;
//   .lines {
//     width: 100%;
//     position: absolute;
//     border-top: 1px solid #333;
//     left: 0;
//     top: 114px;
//     z-index: 5;
//   }
//   .waps {
//     padding: 72px 0 40px;
//     position: relative;
//     width: 94%;
//     max-width: 1720px;
//     margin: 0 auto;
//   }
// }
.waps {
  width: 94%;
  max-width: 1720px;
  margin: 0 auto;
}
.footer_two {
  width: 100%;
  height: 100px;
  background: #121212;
  color: #fff;
  font-size: 16px;
  display: table;
  .footer_two_left {
    float: left;
    padding-top: 17.5px;
    position: relative;
    p {
      line-height: 32px;
    }
    .f16 {
      font-size: 16px;
    }
  }
  .footer_two_right {
    font-size: 14px;
    float: right;
    line-height: 100px;
  }
  a {
    color: #fff;
  }
}